<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar Fragment</title>
</head>
<body>
<nav th:fragment="navbar"  class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img src="img/logo.webp" alt="logo agriturismo" width="45" height="45">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/catalogo}">Catalogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/chisiamo}">Chi siamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contatti}">Contatti</a>
                </li>
            </ul>
            <div class="d-flex" role="search">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                        <a th:href="@{/riservatautente}"><img src="img/cart.png" width="22" style="margin-right: 10px;"></a>
                    </li>
                    <li th:if="${utente == null && admin == null}" class="nav-item">
                        <a class="nav-link" th:href="@{/loginutente}">Accedi</a>
                    </li>
                    <li th:if="${utente == null && admin == null}" class="nav-item">
                        <a class="nav-link" th:href="@{/registrazioneutente}">Registrati</a>
                    </li>
                    <li th:if="${utente != null}" class="nav-item">
                        <a class="nav-link" th:href="@{/riservatautente}" th:text="'Ciao, '+${utente.username}">Account</a>
                    </li>
                    <li th:if="${admin != null}" class="nav-item">
                        <a class="nav-link" th:href="@{/loginadmin}">Admin</a>
                    </li>
                    <li th:if="${utente != null}" class="nav-item">
                        <a class="nav-link" th:href="@{/riservatautente/logout}">Logout Utente</a>
                    </li>
                    <li th:if="${admin != null}" class="nav-item">
                        <a class="nav-link" th:href="@{/adminprodotti/logout}">Logout Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</body>
</html>