.sidebar {
  position: absolute;
  left: auto;
  width: 200px;
  border: 1px solid;
  margin-top: 50px;
}

.prodotti {
  position: absolute;
  left: 200px;
}

.primo-blocco{
    height: 600px;
    background-image: url(../img/foto1.jpg);
    padding-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-12{
    margin-top: 50px;
}

h1{
    font-size: 60px;
    font-family: Didot;
}
h2, h3, h4, h5, h6{
    font-family: Didot;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #41644A !important;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

a.nav-link {
    color: #fefefe;
}

a.nav-linkf {
    color: #fefefe;
}

a.nav-link:hover {
    background-color: #294B29 !important;
    color: #fff !important;
}

a.nav-link.active {
    color: #fff !important;
}

a.nav-linkf.active {
    color: #fff !important;
}

a.navbar-brand {
    color: #fff;
}

a:hover {
    color: #99BC85 !important;
}

footer.py-5.static-footer {
    color: #fff;
}

main.login {
    display: flex;
    height: 100vh !important;
    justify-content: center;
    align-items: center;
    background-image: url(../img/foto4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main.registrati {
    display: flex;
    padding: 60px 0px !important;
    justify-content: center;
    align-items: center;
    background-image: url(../img/foto4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form.form-login {
    width: 50% !important;
}
button.btn {
    background-color: #41644A;
    color: #fff;
}
.btn:hover{
    background-color: #41644A;
    color: #fff;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    font-family: Didot;
}

.static-chisiamo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.subdesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Didot;
}

.subtitle {
    font-family: Didot;
}

p.text-chisiamo {
  text-align: justify;
  text-justify: inter-word;
}

.pdesign {
    font-family: Didot;
}

.tdesign {
    font-weight: bold;
    font-style: italic;
}

.static-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.container.past {
    margin-top: 50px;
    margin-bottom: 50px;
}

div.container.present {
    margin-top: 50px;
    margin-bottom: 50px;
}

div.subtitle.family {

}

.cards-chisiamo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.static-contatti {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.riservatau {
    margin-top: 50px;
}
.lista-prodotti{
    flex-wrap: wrap;
    margin-bottom: 30px
}
.pad-top-50{
    padding-top: 70px;
}
.side-bg{
    background-color: #99BC85 !important;
    height: 100vw;
}
h5.card-title {
    font-size: 30px;
}
p.list-group-item {
    font-size: 25px;
}
a {
    text-decoration: none;
}

#contact_form {
    margin: 0 auto;
    text-align: center;
    float: left;
    margin-left: 30%;
}

.contact {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.howtocontact {
    background-image: url(../img/contatti1.jpg);
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.light-text {
    color: #F5E8DD !important;
}

.contact-form-body {
    background-color: #99BC85;
    padding-bottom: 50px;
}

.contact-info {
    border-style: outset;
    background-color: #99BC85;
    padding: 10px;
}

.qty {
    width: 80px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}
.number {
    margin: 0px 20px;
    font-size: 20px;
}
img.social {
    width: 30px;
    margin: 10px;
}