<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi siamo?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Agriturismo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/catalogo}">Catalogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/chisiamo}">Chi siamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contatti}">Contatti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/loginadmin}">Admin</a>
                </li>
            </ul>
            <div class="d-flex" role="search">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                        <a><img src="img/shopping-cart.png" width="22" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/loginutente}">Accedi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/registrazioneutente}">Registrati</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="static-chisiamo">
    <div class="title">
        <h1 class="tdesign">La nostra storia</h1>
    </div>
    <div class="container">
        <div class="row m-12">
            <div class="col-12 col-md-6">
                <img src="img/storiachisiamo.jpg" width="100%" class="img-chisiamo">
            </div>
            <div class="col-12 col-md-6">
                <h2>Com'è iniziata questa avventura?</h2>
                <p>Tutto ebbe inizio durante l'estate del lontano 1979, esattamente il 10 agosto. Il nonno Pippo,
                    giovane
                    tornato a casa dopo aver vagato per vari percorsi lavorativi altrove, incrociò il cammino di Titina
                    durante una
                    festa di paese. Fu amore a prima vista, e alcuni anni dopo, il 13 settembre 1982, si sposarono.
                    Erano
                    allora poco più che ventenni, ma con visioni chiare e un grande desiderio di costruire insieme un
                    futuro.

                    Decisero di dar vita a un progetto comune e si iscrissero insieme alla SCAU (Servizio per i
                    Contributi
                    Agricoli Unificati). Dopo aver trascorso alcuni anni nel settore della ristorazione lontano da casa
                    e
                    dopo la nascita del loro primogenito, Gilbert, presero la decisione di fare ritorno definitivo a
                    Monteverde,
                    la loro terra d'origine, e di portare avanti l'antica azienda di famiglia, la Verdecollina. Unendo
                    la
                    passione per la loro terra e l'interesse del nonno per la cucina, decisero di rivoluzionare la
                    tradizione
                    dell'antica masseria, intraprendendo la strada della multifunzionalità, oltre a quella della
                    multisettorialità e
                    della diversificazione.

                    Superando ostacoli, complicazioni burocratiche e molte difficoltà, finalmente aprirono le porte del
                    loro
                    Agriturismo, il 21 settembre 1983!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row m-12">
            <div class="col-12 col-md-6">
                <h2>La generazione presente: 2024.</h2>
                <p>Oggi ci troviamo a dover seguire anche le nuove tendenze per soddisfare una clientela sempre più
                    esigente. Accanto ai nostri piatti tradizionali come strascinati, ravioli e agnello "arraganat",
                    abbiamo introdotto alcune novità che portano freschezza e originalità alla nostra offerta.

                    Mi piace raccontare la nostra terra attraverso i piatti tipici del suo folklore, utilizzando solo
                    ingredienti freschi e genuini, provenienti dalla nostra azienda o da altre realtà locali che
                    condividono il nostro approccio. Offriamo una cucina casalinga, semplice ma ricca di sapori autentici: dai primi
                    piatti fatti a mano, ai formaggi, dall'agnello alle verdure, fino ai dolci tradizionali. Il cibo che
                    serviamo è nutrimento per il corpo e per l'anima, una sorta di "comfort food" che oltre a placare la fame,
                    regala un'esperienza multisensoriale che coinvolge tutti i sensi.

                    Nonostante i cambiamenti, la nostra sostanza rimane immutata: cerchiamo sempre di offrire la massima
                    qualità e abbondanza al miglior prezzo possibile. Il profitto non è mai stato la nostra priorità;
                    preferiamo investire nella nostra struttura e nella nostra comunità. Siamo consapevoli di quanto sia stato
                    fatto in oltre vent'anni di esperienza, ma siamo altrettanto consapevoli che c'è ancora molto da fare.
                    Abbiamo idee, progetti e sogni che si stanno realizzando sotto i nostri occhi, rendendo la nostra piccola
                    realtà un punto di riferimento a livello regionale e oltre.

                    Al momento, stiamo potenziando il nostro laboratorio di trasformazione e conservazione degli
                    alimenti e stiamo lavorando per rendere la nostra azienda agricola autosufficiente al cento per cento.

                    Questa è la nostra storia, tramandata attraverso varie generazioni, e con l'augurio di continuare a
                    essere parte integrante del nostro territorio, sempre migliorando e crescendo nel tempo.</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="img/2024chisiamo.jpg" width="100%" class="img-chisiamo">
            </div>
        </div>
    </div>
    <div class="subtitle">
        <h2 class="subdesign">Una famiglia unita</h2>
        <div class="cards-chisiamo">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body card-height d-flex flex-column">
                            <h5 class="card-title">Pippo</h5>
                            <p class="card-text mb-4">Pippo è il cuore pulsante dell'azienda, dedicato alla gestione e
                                allo sviluppo delle attività agricole di Casa Verdecollina. Cresciuto tra i campi e gli
                                animali, Pippo ha ereditato la passione per la terra e la dedizione alla tradizione
                                familiare. Sempre pronto a innovare e ad adottare pratiche sostenibili, Pippo
                                rappresenta l'anima dell'azienda, garantendo la qualità e l'autenticità dei prodotti che
                                portano il nome di Casa Verdecollina.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body card-height d-flex flex-column">
                            <h5 class="card-title">Titina</h5>
                            <p class="card-text mb-4">Titina incarna l'essenza della cucina di Casa Verdecollina.
                                Appassionata di gastronomia fin da giovane, Titina ha perfezionato le sue abilità
                                culinarie attraverso studi accademici e esperienze internazionali. Tuttavia, il legame
                                con le tradizioni familiari e la genuinità dei sapori della Lucania sono sempre stati il
                                suo punto di riferimento. Con la sua creatività e la sua attenzione per i dettagli,
                                Titina trasforma gli ingredienti freschi e locali in autentiche opere d'arte
                                culinarie, offrendo ai nostri ospiti un'esperienza indimenticabile a tavola.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body card-height d-flex flex-column">
                            <h5 class="card-title">Gilbert</h5>
                            <p class="card-text mb-4">Gilbert è il giovane talento di Casa Verdecollina, impegnato a
                                imparare
                                e a crescere all'interno dell'azienda di famiglia. Pur concentrato sugli studi
                                scolastici, Gilbert trova sempre il tempo per contribuire attivamente alle attività
                                dell'agriturismo, sia in sala che nei campi. Con la sua energia contagiosa e la sua
                                dedizione al lavoro, Gilbert rappresenta la promessa per il futuro di Casa Verdecollina,
                                portando freschezza e entusiasmo in ogni ruolo che ricopre.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>